.header-search {
  background-color: #0ebaf9;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.header-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input-header {
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
}

.button-header {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
}